@page "/about"
<h3>About</h3>

<MudGrid Spacing="0" Style="max-width: 100%" Class="mt-2">

    <MudItem>
        <MudPaper MaxWidth="600px" MaxHeight="500x" Class="mr-14 mt-16 ml-14">
            <img class="left-panel" src="./images/bigspacevillage.jpg" alt="Rachel" width="100%" gridrow="2" />
        </MudPaper>
    </MudItem>

    <MudItem Class="mb-14">
        <p />
        <MudPaper Elevation="3">
            <MudText Typo="Typo.h6" Style="width:700px" Class="mr-8 ml-8">
                <br />
                <p>"Welcome to Into The Nerdverse, where your hosts Madi and Kyle traverse the vast expanse of geekdom, from the cutting edge of technology and cybersecurity to the deepest realms of nerdy lore. With a blend of up-to-the-minute tech news, captivating discussions, and a generous dose of nerd culture, this podcast is your gateway to the ultimate exploration of all things nerdy. Join us as we embark on thrilling adventures through the realms of science fiction, fantasy, gaming, and beyond, sprinkled with a dash of humor and a heap of enthusiasm. So strap in, fellow nerds, as we journey together into the boundless universe of the Nerdverse!"</p>
                  
                <br />
            </MudText>
        </MudPaper>
    </MudItem>
</MudGrid>




