@page "/about"


<MudItem Class="mt-n6" Style="height: 100vh; max-width: calc(100vw - 11px)">
    <div class="page-background" style="height: 100vh; width: 100%">
        <MudGrid Justify="Justify.SpaceBetween" Style="height: 28vh; width: 100%">
            <MudItem Style="max-width: 300px; align-content: center" Class="ml-16">
                <div class="containerc">
                    <img src="./images/Untitled2.png" alt="Madi!" class="image" />
                    <p class="text align-content-start" style="font-family: 'Century Schoolbook'">Madi</p>
                    <div class="overlay" style="width: 450px">
                        <div class="overlaytext" style="padding: 30px; background-color: #100a0d;">
                                <MudText>
                                Madi has been a guest many times on the show before stepping up to fill the void of Co-Host!
                                <br /> <br />

                                Madi has brought her wealth of knowledge and experince to bear on the show. She has been a great addition to the show and has helped to bring a new perspective.
                                <br />
                                With her help, we can continue the legacy of Into The Nerdverse and bring you the best content possible. 
                            </MudText>
                        </div>
                    </div>
                </div>
            </MudItem>
            <MudItem Style=" align-content: center" Class="mb-8">
                <div class="containerc" >
                    <img src="./images/Untitled4.png" alt="Heather" class="image" style="width: 105px" />
                    <p class="text align-content-start" style="font-family: 'Century Schoolbook';">Heather</p>
                    <div class="overlay" style="width: 550px">
                        <div class="overlaytext" style="padding: 30px; background-color: #100a0d;">

                            <MudText>
                                Heather was here in the begining.
                                <br />
                                Lots of fun was had with Heather and Kyle on the podcast in the early days. While Heather is welcome on the show any time, sometimes life get in the way and we have to move on.
                                <br />
                                After a THREE and A HALF YEAR break, Into the Nerdverse kicks off greatful for it's roots with Kyle and Heather. The memories made and stories told will live on in the first two seasons of Into The Nerdverse.
                            </MudText>
                        </div>
                    </div>
                </div>
            </MudItem>
            <MudItem></MudItem><MudItem></MudItem>
            <MudItem Style="max-width: 300px; align-content: center" Class="mb-8">
                <div class="containerc">
                    <img src="./images/Untitled5.png" alt="Planet1" class="image" />
                    <p class="text align-content-start" style="font-family: 'Century Schoolbook'">Kyle</p>
                    <div class="overlay" style="width: 450px">
                        <div class="overlaytext" style="padding: 30px; background-color: #100a0d;">
                                <MudText>
                                Kyle founded the podcast in 2019 shortly after <a href="https://techneighbors.com" target="_blank" style="color:white"> Techneighbors. </a>
                                <br /> <br />
                                Kyle has been a great host and has brought a lot of fun and energy to the show. He has been a great addition to the show and has helped to bring a unique perspective. 
                                <br /> <br />
                                With over 10 years of experience personally in the business world of tech, and more than 20 in tech as a hobby, he has a wealth of knoweledge and funny stories to share!
                                </MudText>
                        </div>
                    </div>
                </div>
            </MudItem>
            <MudItem />
        </MudGrid>
        <MudGrid Justify="Justify.FlexStart" Style="height: 30vh; width: 100%">
            <MudItem Style="width: 10vw"/>

            <MudItem Style="max-width: 300px; align-content: start" Class="ml-10">
                <div class="containerc">
                    <img src="./images/Untitled1.png" alt="Phil" class="image" />
                    <p class="text align-content-start" style="font-family: 'Century Schoolbook'">Phil </p>
                    <div class="overlay" >
                        <div class="overlaytext" style="padding: 30px; background-color: #100a0d;">
                            <MudText>
                                Phil is the editor of the show. He has been with us since 2024.
                                <br />
                                <br />
                                When not editing the show, playing music, Phil works full time as a paramedic on an oil rig. 
                                <br /><br />
                                Phil has been a great addition to the show and has helped to bring to life our dreams. With more than 15 years of audio editing experience, Phil has truly been the reason we sound as good as we do! 
                            </MudText>
                        </div>
                    </div>
                </div>
            </MudItem>
            <MudItem Style="width: 100vw; height: 30vh align-content: start;" Class="mt-n16" >
                <div class="containerc align-content-center" style="align-content:center">
                    <p class="text align-content-center" style="font-family: 'Century Schoolbook';">&emsp; &emsp; &emsp; Into The Nerdverse</p>
                    <MudItem> &ensp;  </MudItem>
                    <div class="overlay">
                        <div class="overlaytext" style="width: 30%">
                            <MudItem Style="background-color: #1f2020">
                                <MudText Style="font-size: 1.3em" Class="p-3">
                                    <p style="font-size: 1.6 em; font-weight: bold"> Into The Nerdverse! </p>
                                    <p> - Now Presented by Madi & Kyle</p>
                                    &emsp;&emsp; Our Podcast started as a dream of two friends who wanted to share their love of all things nerdy with the world.
                                    <br />
                                    We are a podcast that covers all things nerdy from movies, comics, video games, and more.
                                    <br />
                                    &emsp; For nerds by nerds. We are a podcast that is here to bring you the latest news, reviews, and interviews from the world of nerdom.
                                    With support from our listeners like you, that dream can continue. And we can 
                                    continue to bring you quality entertainment and information. We explore the nerdy and geekful while converting complicated terms into lay terms.
                                    <br />
                                    From topics like "What is AI" to "What is the best way to build a PC" we cover it all.
                                    <br />
                                    <br />
                                    So sit back, relax, and enjoy the ride as we take you into the nerdverse.
                                </MudText>
                            </MudItem>
                        </div>
                    </div>
                </div>
            </MudItem>
            </MudGrid>
    </div>
</MudItem>


@code {

}