@page "/"


<PageTitle>Index</PageTitle>


<body>
<div class="page-background">
      <MudIcon Icon="@Icons.Custom.Brands.Reddit" Title="Reddit" Class="align-bottom" />
      <MudIcon Icon="@Icons.Custom.Brands.Reddit" Title="Reddit" />
      <MudIcon Icon="@Icons.Custom.Brands.Reddit" Title="Reddit" /> 
</div>
</body>