@page "/"


<PageTitle>Index</PageTitle>


    <MudItem Class="mt-n6" Style="height: 100vh">
        <div class="page-background" style="height: 100vh">
            <br />
            
     
        <MudItem Style="height: 25vh" />
        <h1 class="text-center" style="color: white; font-family: 'Century Gothic'; font-size: 4em; font-weight: bolder">Welcome</h1>
        <MudText Style="color: #0bedf2; font-size: 6em; font-family: Leto" Class="text-center"> Into The Nerdverse</MudText>


        <MudItem Style="height: 12vh" />
        <MudItem Style="width: 575px" Class="ml-10">
            <MudText>
                <p style="color: white; font-family: 'Century Schoolbook'">
                   Listen to our Latest Episode!
                    </p>
            </MudText>
            <iframe src="https://podcasters.spotify.com/pod/show/intothenerdverse/embed" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
        </MudItem>
    </div>
    </MudItem>




