@page "/"


<PageTitle>Index</PageTitle>


<MudItem Class="mt-n6">
 <div class="page-background" style="min-height: 1000px"> 
     <br />
        <h1 class="text-center" style="color: white; font-family: 'Century Gothic'">Welcome</h1>
        <MudText Style="color: #4fe7d2; font-size: 3em" Class="text-center"> Into The Nerdverse</MudText>
        <MudIcon Style="color: blue; " Icon="@Icons.Custom.Brands.Reddit" Title="Reddit" Class="align-bottom" />
        <MudIcon Icon="@Icons.Custom.Brands.Reddit" Title="Reddit" />
        <MudIcon Icon="@Icons.Custom.Brands.Reddit" Title="Reddit" />
</div>
</MudItem>

<MudGrid Style="background-color: #5d5d5d; align-content: center">
    <MudItem>

        <img src="./images/techneighbors.png" alt="Techenighbors" class="image" style="width: 200px">
    </MudItem>
    <MudItem>
        <p style="color: white; font-size 18px">
            <strong> Powered By <MudLink href="https://techneighbors.com" Color="Color.Primary">Techneighbors</MudLink> </strong>
        </p>
    </MudItem>

</MudGrid>




