@inherits LayoutComponentBase

<PageTitle>IntoTheNerdVerse</PageTitle>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-8 justify-content-center">
            <a class="atag"
                href="/" >Home
            </a>
            <a class="atag" href="/About" >About</a>
            <a class="atag"  href="/Listen">Listen</a>
            <a class="atag" href="/Merchstore" >Merch store</a>
            <a class="atag"  href="/Contactus">Contact us!</a>
            <a class="atag" href="/Subscribe" >Subscribe</a>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
