.page-background {
    /*background-image: url(../images/bigspacevillage.jpg);*/
    background-image: url(../images/citybackground.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%
}
body, html {
    height: 100%;
    margin: 0;

}
.iframe {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 535px;
    height: 380px;
    margin-top: -400px;
    margin-right: 20px;
    z-index: 999;
}